<div class="L-header w pr blue">
    <p class="tc L-header-title cfff f16">管理收货地址</p>
    <a href="#/confirmOrder" class="L-header-back h po"></a>
    <a href="#/modiAddress" class="L-header-right h po cfff">新增</a>
</div>
<ul class="common-list-14" ng-controller="receiverLocation">
    <li class="pr" ng-repeat="myAddress in myAddress">
        <p class="common-list-line-1 clearfix pr50 pl15 pt10 f16">
            <span class="fl">{{myAddress["recieve_name"]}}</span>
            <span class="fr">{{myAddress["phone_num"]}}</span>
        </p>
        <p class="common-list-line-2 pr50 pl15 pb10">
            <span>{{myAddress["fullAddress"]}}</span>
            <a href="#/modiAddress" class="po addressCheck" ng-click="modiAddress()"></a>
        </p>
    </li>
</ul>
