<div class="L-header w pr blue" ng-controller="headerModel">
    <p class="tc L-header-title cfff f16">商品</p>
    <a href="#/" class="L-header-back h po"></a>
    <img class="sD-star po" src="components/images/header-star.png" alt="收藏"/>
    <div class="sD-share po" ng-click="isShare()"></div>
</div>
<div ng-controller="goodsDetails">
    <div ng-controller="carousel">
        <carousel class="L-carousel">
            <img class="h fl" ng-repeat="item in imgs track by $index" src={{item.src}} style="width:{{item.width}};height: {{item.height}}"/>
        </carousel>
    </div>
    <ul class="common-list-17 pr">
        <li class="clearfix pt5 pb5 common-list-line-3">
            <span class="fl pl15 f20">{{goodsName}}</span>
            <span class="fr pr15">已售{{saleNum}}</span>
        </li>
        <li class="common-list-line-4 cred f16 pl15">{{limitBuy || "不限制购买"}}</li>
        <li class="pl15 common-list-line-3 pl15">
            <span class="cred">￥</span>
            <span class="f20 cred">{{nowSale}}</span>
            <del class="pl15">{{originSale}}</del>
        </li>
        <li class="pl15 common-list-line-5">服务：免运费</li>
        <div class="po goodsCart-btn1" ng-click="addGoodscart()"></div>
    </ul>
</div>
<ul class="common-list-05 mt10" ng-controller="comment">
    <li class="common-list-05-list-1 pl15">网友点评{{totalCount}}</li>
    <li class="pl15 pt5 pb5 clearfix pr15" ng-repeat="resp in item_respList">
        <div class="common-list-05-pic-1 tc mr15 fl" >
            <img class="h" src="components/images/images.png" alt="用户头像"/>
        </div>
        <p class="common-list-05-p-1">
            <span>{{resp["userName"]}}</span>
        </p>
        <p class="common-list-05-p-2">{{resp["content"]}}</p>
        <div class="common-list-05-p-2 mt10">
            <div class="common-list-05-pic-2 tc fl mr10">
                <img src="components/images/images.png" class="h" alt="商品图片"/>
            </div>
            <div class="common-list-05-pic-2 tc fl mr10">
                <img src="components/images/images.png" class="h" alt="商品图片"/>
            </div>
        </div>
    </li>
</ul>
<ul class="share-box bdsharebuttonbox w clearfix" ng-hide="SHAREBTN">
    <li class="tc fl">
        <a class="bds_qzone" data-cmd="qzone" href="#" id="qzone-icon"></a>
    </li>
    <li class="tc fl">
        <a class="bds_tsina" data-cmd="tsina" href="#" id="wb-icon"></a>
    </li>
    <li class="tc fl">
        <a class="bds_tqq" data-cmd="tqq" href="#" id="qq-icon"></a>
    </li>
</ul>
<div id="shade" class="w h" ng-hide="SHAREBTN" ng-click="HIDESHARE()"></div>

