<div class="L-header w pr blue">
    <a class="L-header-back h po" href="06-main.html"></a>
    <div class="L-header-searchbox pr ml50 mr20 pl30">
        <input class="w h" type="text" placeholder="搜索店内商品"/>
    </div>
</div>
<div class="L-center" ng-controller="goodsListModel">
    <ul class="common-list-01" ng-controller="shopInfo">
        <li class="w">
            <a href="08-waterShop.html#/" class="pr">
                <div class="common-picproduct-01 pr tc">
                    <img src="{{shopImg}}" class="h" alt="汇贝送水"/>
                </div>
                <div class="po common-detailbox-01">
                    <p class="f16 common-detailbox-01-name">{{merchantName}}</p>
                    <p class="address">
                        <span>{{shopAddress}}</span>
                        <span class="distance">{{shopDistance}}KM</span>
                    </p>
                    <p class="evaluate">
                        <img src="" alt=""/>
                        <span>{{sellCount}}</span>
                    </p>
                </div>
            </a>
        </li>
    </ul>
    <div class="common-list-06 clearfix mt10">
        <div class="common-list-06-con1 clearfix w">
            <div ng-repeat="names in classifyClick" class="fl pr common-list-06-con50 pr" ng-click="showClassify(names)">
                <p class="tc">
                    <span class="common-list-06-ml23">{{names.name}}</span>
                </p>
            </div>
            <div class="common-list-06-btn fl" ng-click="cutShowway()"></div>
        </div>
        <ul class="po common-list-06-box100" ng-show='cutclassify'>
            <li ng-repeat="classify in classifyList" ng-click="select(classify)">{{classify.name}}</li>
        </ul>
    </div>
    <liuul class="common-list-02" ng-show="showWay1" style="margin-bottom: 60px;">
        <li class="w pr" ng-repeat="goodsInfo in goodsList">
            <a class="common-picproduct-02 pr tc" ng-click="getGoodsInfo(goodsInfo)">
                <img src="{{goodsInfo.big_image}}" class="h" alt="商品图片"/>
            </a>
            <a class="po common-detailbox-02">
                <p class="f16 comlist-02-floor-01 gL-goodsList" ng-click="getGoodsInfo(goodsInfo)">
                    <span>{{goodsInfo.title}}</span>
                    <span class="cfff blue quan-icon">券</span>
                    <span class="cfff orange hui-icon">惠</span>
                </p>
                <p class="comlist-02-floor-01 pt5 gL-goodsList">
                    <span class="cred f16">￥{{(goodsInfo.price / 100).toFixed(2)}}</span>
                </p>
                <p class="comlist-02-floor-01 pt10 gL-goodsList">
                    <span>{{goodsInfo.summary}}</span>
                    <span class="po" style="bottom:0px;right:-35px;">已售{{goodsInfo.salesCnt}}</span>
                </p>
            </a>
            <div class="po goodsCart-btn1" ng-click="addGoodscart(goodsInfo)"></div>
        </li>
    </liuul>
    <ul class="common-list-07 clearfix" ng-show="showWay2" style="margin-bottom: 60px;">
        <li class="fl pr" ng-repeat="goodsInfo in goodsList">
            <div class="common-list-07-pic tc m15">
                <img class="h" src="{{goodsInfo.big_image}}" alt="商品图片"/>
            </div>
            <div class="goodsCart-btn po" ng-click="addGoodscart(goodsInfo)"></div>
            <a href="#" class="pl15 pb15">
                <p class="f16 c000">{{goodsInfo.title}}</p>
                <p> {{goodsInfo.summary}} </p>
                <p>
                    <span class="cred f16">￥{{goodsInfo.price}}</span>
                    <span>已售{{goodsInfo.salesCnt}}</span>
                </p>
            </a>
        </li>
    </ul>
</div>