<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Liudq" content="Administrator" />

    <link rel="stylesheet" type="text/css" href="components/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="components/css/Lhuipayapp-common.css"/>
    <link rel="stylesheet" type="text/css" href="components/css/04_goodsList.css"/>

    <script src="components/js/plugins/angular.min.js"></script>
    <script src="components/js/plugins/angular-route.min.js"></script>
    <script src="components/js/plugins/jquery-1.11.3.min.js"></script>
    <title>04_商品列表-2</title>
</head>
    <body ng-app="purchase">
        <div ng-view>
        </div>
        <div class="L-footer-01 cfff w" ng-controller="goodscartBottom">
            <a href="#/goodsCart" class="po L-footer-01-btn1" ng-show="showgC" ng-click="showgoodsCart()">
                <div class="po L-footer-01-btn-label cfff red">{{GOODS_NUM||0}}</div>
            </a>
            <div ng-hide="showgC" class="fl L-footer-01-l w allCheckbox">
                <span class="pl15" ng-click="checkAll()">
                    <div class="po btmgoodsCheck" ng-class="{true: 'checked', false: ''}[ALLCHECKED]"></div>
                    <span class="pl30">全选</span>
                </span>
                <span class="totleMoney pl15">
                    <span>合计：</span>
                    <span>¥</span>
                    <span>{{TOTLE_MONEY}}</span>
                </span>
            </div>
            <div class="fl L-footer-01-l w" ng-show="showgC">
                <span class="gL-totalCost">¥</span>
                <span class="pl5 ">{{TOTLE_MONEY}}</span>
            </div>
            <a href="#/confirmOrder" class="fr L-footer-01-r red tc cfff">去结算</a>
        </div>
        <script src="components/js/purchaseChangeTags.js"></script>
        <script src="components/js/showWay.js"></script>
    </body>
</html>