<div class="L-header w pr blue">
    <a class="L-header-back h po" href="#/"></a>
    <div class="L-header-searchbox-01 pr ml50 pl30" >
        <input class="w h" id="keyword" name="keyword" ng-keyup="GETVALUE($event)" value="" type="text" placeholder="搜您想要的水站"/>
    </div>
    <a href="#/" class="cfff fr po L-header-searchbox-01-btn">完成</a>
</div>
<ul id="result1" name="result1" ng-controller="getLocation">
    <li class="custom-location" ng-repeat="location in location" ng-click="selectAddress($index)">
        {{location.loc}}
    </li>
</ul>
