<div class="L-header w pr blue slide-header" ng-controller="cutView">
    <p class="tc L-header-title cfff f16">汇贝送水</p>
    <div class="po my-cutMap" ng-click="toggleView()"></div>
</div>
<div class="L-slide-center" ng-controller="mapView">
    <!--轮播页面-->
    <div ng-show="SHOWMAP" class="mb100" ng-controller="carousel">
        <carousel class="L-carousel">
            <img class="h fl" ng-repeat="img in imgs" src={{img.src}} style="width:{{img.width}};height:{{img.height}}"/>
        </carousel>
        <ul class="common-multyrow-1 mt10 ml15 mr15">
            <li style="height: 48px;">
                <a href="#/customLocation" class="clearfix map-myLocation pr rightArrow mr15">
                    <p class="map-address-3 fl">送水地址：</p>
                    <p class="map-a fl pr15 po">{{ADDRESS||'正在定位...'}}</p>
                </a>
            </li>
            <li>
                <a href="#/shopList" class="map-shopinfo rightArrow mr15">
                    <p class="map-address-3 map-shopname">
                        <span>配送水站：</span>
                        <span>{{NEARLIST_SHOP["merchantName"]||'正在寻找最近水站..'}}</span>
                        <span class="fr pr30 cred">最近</span>
                    </p>
                    <p class="map-shopLocation pr">
                        <span class="shopaddress po">{{NEARLIST_SHOP["address"]||'正在查询地理位置..'}}</span>
                        <span class="fr pr30">{{NEARLIST_SHOP["distance"]||'正在计算..'}}米</span>
                    </p>
                </a>
            </li>
        </ul>
        <a href="javascript:void(0)" ng-click="postShopInfo()" class="common-btn-01 tc cfff blue f14 map-main-orderbtn">我要订水</a>
    </div>

</div>
