<div class="L-header w pr blue slide-header" ng-controller="cutView">
    <p class="tc L-header-title cfff f16">汇贝送水</p>
    <div class="po my-cutMap" ng-click="toggleView()"></div>
</div>
<div class="L-slide-center" ng-controller="mapView">
    <!--轮播页面-->
    <div ng-show="isshow" ng-controller="carousel">
        <carousel class="L-carousel" ng-controller="myInterval">
            <img class="h fl" ng-repeat="img in imgs" src="{{img.src}}" alt="{{img.text}}"style="width:{{img.width}};"/>
        </carousel>
        <ul class="common-multyrow-1 mt10 ml15 mr15">
            <li>
                <a href="#/customLocation" class="clearfix map-myLocation pr rightArrow mr15">
                    <p class="map-address-3 fl">送水地址：</p>
                    <p class="map-a fl pr15 po" id="a">{{address}}</p>
                </a>
            </li>
            <li>
                <a href="#" class="map-shopinfo rightArrow mr15">
                    <p class="map-address-3 map-shopname">
                        <span>配送水站：</span>
                        <span>乐百氏水桶水超市</span>
                        <span class="fr pr30 cred">最近</span>
                    </p>
                    <p class="map-shopLocation">
                        <span>金水区啊啊拉克丝接待来访</span>
                        <span class="fr pr30">646米</span>
                    </p>
                </a>
            </li>
        </ul>
        <a href="#" class="common-btn-01 tc cfff blue f14 map-main-orderbtn">我要订水</a>
    </div>
    <!--地图页面-->
    <div ng-hide="isshow" class="mb100">
        <div id="mapContainer"></div>
        <a href="#" class="common-btn-01 tc cfff blue f14 map-mapview-orderbtn">我要订水</a>
    </div>

</div>
