<div ng-controller="confirmPhonenum">
    <div id="shade-1" ng-show="ISSHOW"></div>
    <dialog class="dialog" ng-show="ISSHOW">
        <div class="dialog-center tc">
            <p class="dialog-line1 pt10 f16">确认手机号</p>
            <p class="dialog-line2 pt5">我们将发送校验码短信到这个手机号码：</p>
            <p class="dialog-line2 pb10">{{PHONENUM}}</p>
        </div>
        <div class="dialog-bottom clearfix f16">
            <a href="javascript:void(0)" class="fl tc dialog-bottom-btn cipblue" ng-click="cancel()">取消</a>
            <a href="#/fillCheckcode" class="fl tc dialog-bottom-btn2 cipblue" ng-click="ok()">好</a>
        </div>
    </dialog>
</div>

<div class="L-header w pr blue">
    <p class="tc L-header-title cfff f16">注册</p>
    <a href="#/" class="L-header-back h po"></a>
    <a href="#/" class="L-header-right h po cfff">登录</a>
</div>
<div class="L-center" ng-controller="inputPhonenum">
    <ul class="common-list-12 mt10 mb10">
        <li class="pr">
            <span class="common-list-03-title pl15 fb">国家地区</span>
            <div class="common-list-12-content po h">
                <input type="text" class="w h" placeholder="中国大陆+86" ng-model="phoneLoc"/>
            </div>
        </li>
        <li class="pr">
            <span class="common-list-03-title pl15 fb">手机号</span>
            <div class="common-list-12-content po h">
                <input type="number" class="w h mr100 phone-num" placeholder="请输入您的手机号码" ng-model="phoneNum"/>
            </div>
        </li>
    </ul>
    <div class="common-btn-01 tc cfff blue f14 mr15 ml15" ng-click="getNumber()">下一步</div>
</div>