<div class="L-header w pr blue" ng-controller="headerModel">
    <p class="tc L-header-title cfff f16">水站详情</p>
    <a href="#" class="L-header-back h po"></a>
    <img class="sD-star po" src="components/images/header-star.png" alt="收藏"/>
    <div class="sD-share po" ng-click="isShare()"></div>
</div>
<div ng-controller="shopDetails">
    <div ng-controller="carousel">
        <carousel class="L-carousel">
            <img class="h fl" ng-repeat="img in imgs" src={{img.src}} style="width:{{img.width}};height: {{img.height}}"/>
        </carousel>
    </div>
    <ul class="common-list-03">
        <li >
            <a href="#">
                <span class="common-list-03-title ml15 quan cfff orange">券</span>
                <span class="common-list-03-title pl10">代金券红包</span>
                <span class="fr pr15 common-list-03-content pr30 mr15 rightArrow">无</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="common-list-03-title ml15 hui cfff red">惠</span>
                <span class="common-list-03-title pl10">暂无优惠</span>
            </a>
        </li>
    </ul>
    <ul class="common-list-03 mt10">
        <li class="pr15 h ellipsis">
            <span class="common-list-03-title pl50 pt5 pb5 my-address">{{shopAddress}}</span>
        </li>
        <li>
            <span class="common-list-03-title pl50 pt5 pb5 my-tel">{{telphone}}</span>
        </li>
    </ul>
    <div class="sD-introduce mt10">
        <p class="f16 pl15 sD-introduce-title">商家介绍</p>
        <p class="sD-introduceDetails pt5 pb5 pl15 pr15">
            {{summary}}
        </p>
    </div>
</div>
<ul class="common-list-05 mt10" ng-controller="comment">
    <li class="common-list-05-list-1 pl15">网友点评{{totalCount}}</li>
    <li class="pl15 pt5 pb5 clearfix pr15" ng-repeat="resp in item_respList">
        <div class="common-list-05-pic-1 tc mr15 fl" >
            <img class="h" src="components/images/images.png" alt="用户头像"/>
        </div>
        <p class="common-list-05-p-1">
            <span>{{resp["userName"]}}</span>
        </p>
        <p class="common-list-05-p-2">{{resp["content"]}}</p>
        <div class="common-list-05-p-2 mt10">
            <div class="common-list-05-pic-2 tc fl mr10">
                <img src="components/images/images.png" class="h" alt="商品图片"/>
            </div>
            <div class="common-list-05-pic-2 tc fl mr10">
                <img src="components/images/images.png" class="h" alt="商品图片"/>
            </div>
        </div>
    </li>
</ul>
<ul class="share-box bdsharebuttonbox w clearfix" ng-hide="SHAREBTN">
    <li class="tc fl">
        <a class="bds_qzone" data-cmd="qzone" href="#" id="qzone-icon"></a>
    </li>
    <li class="tc fl">
        <a class="bds_tsina" data-cmd="tsina" href="#" id="wb-icon"></a>
    </li>
    <li class="tc fl">
        <a class="bds_tqq" data-cmd="tqq" href="#" id="qq-icon"></a>
    </li>
</ul>
<div id="shade" class="w h" ng-hide="SHAREBTN" ng-click="HIDESHARE()"></div>

