<!DOCTYPE html>
<html lang="en">
<body>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>test</title>
    <script src="components/js/plugins/angular.min.js"></script>
</head>
<div ng-app="aaa">
    <p>在输入框中尝试输入：</p>
    <p>姓名：<input type="text" ng-model="name"></p>
    <p ng-bind="name"></p>

    <ul ng-controller="testrepeata">
        <li ng-repeat="l in location">
            <a href="#/">{{l.loc}}</a>
        </li>
        <hello></hello>
    </ul>
</div>

<script type="text/javascript">

    var a = angular.module('aaa',[]);
    a.controller('testrepeata',function($scope){
        $scope.location = [{loc:'adf'},{loc:'aa'},{loc:'dd'}];
    });

    a.directive('hello',function(){
        return{
            restrict:'E',
            template:'<div>hello<span ng-transclude></span></div>',
            transclude: true
        }
    });

</script>

</body>
</html>