.oD-wait-confirm{
    height:55px;
    background: #54627b;
}
.oD-wait-confirm-title{
    padding-left:40px;
    line-height: 25px;
    height:30px;
    background:url("../images/orderNumLogo.png") no-repeat 15px center;
    -webkit-background-size:12px 16px;
    background-size: 12px 16px;
}
.oD-shop-name-box{
    height:44px;
    line-height: 44px;
    background:url("../images/arrow-right.png") no-repeat right center;
    background-size: 15px;
}
.oD-order-details{
    background:#FFF;
    border-top: 1px solid #E2E2E2;
}
.oD-shop-name{
    padding-left: 40px;
    background:url("../images/small-house.png") no-repeat 15px center;
    -webkit-background-size: 15px;
    background-size: 15px;
}
.djq{
    padding: 2px 3px;
    background-color: #FE6535;
}
.zfb{
    padding: 2px 3px;
    background-color: #42b5ef;
}
.oD-totlecost{
    height:44px;
    line-height: 44px;
    border-bottom: 1px solid #E2E2E2;
}
.oD-callSeller{
    height:44px;
    line-height: 44px;
    border-top:1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    background:#FFF;
}
.oD-callSeller span{
    padding:5px 0px 5px 25px;
    background: url("../images/phone-icon.png") no-repeat left center;
    -webkit-background-size: 20px;
    background-size: 20px;
}
.oD-deleteorder,
.oD-confirmOrder,
.oD-buyAgain{
    margin: 18px 0px 0px 11px;
    padding: 7px 15px;
    border:1px solid #E2E2E2;
}