.goodsCart-btn,.goodsCart-btn1{
    width:25px;
    height:25px;
    right: 10px;
    bottom: 20px;
    background: url("../images/goodscart.png") no-repeat center center;
    -webkit-background-size: 25px;
    background-size: 25px;
}
.goodsCart-btn1{
    right: 15px;
    top: 40px;
}
.gL-totalCost{
    padding-left:75px;
}
.gL-goodsList{
    height:24px;
    line-height:24px;
    overflow: hidden;
}
.allCheckbox img{
    position:relative;
    top:4px;
    width:20px;
    height:20px;
}
.comlist-13-single{
    line-height:44px;
}
.goodsCtrl{
    right:15px;
    top: 40px;
    width:79px;
    height:20px;
    line-height: 20px;
    border:1px solid #E2E2E2;
}
.subtract,
.add{
    width:19px;
}
.goodsNum{
    width:38px;
    border-left:1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
}
.goodsCheck,
.btmgoodsCheck{
    top:30px;
    left:15px;
    width:18px;
    height:18px;
    border:1px solid #E2E2E2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.addressCheck{
    top:25px;
    right:15px;
    width:18px;
    height:18px;
    border:1px solid #E2E2E2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.btmgoodsCheck{
    top:10px;
}
.checked{
    background:url("../images/checked.png") no-repeat center center;
    -webkit-background-size: 18px;
    background-size: 18px;
}
.confirm-address{
    padding-left:35px;
    background:#fff url("../images/address.png") no-repeat 15px center;
    -webkit-background-size: 18px;
    background-size: 18px;
}
.common-list-02 .common-singlerow-1{
    height:44px;
    line-height: 44px;
}
.confirmOrder-shop{
    padding-left:40px;
}
#mapContainer{
    height: 50%!important;
    overflow: hidden;
}
#point{
    margin-top:-20px;
    top: 25%;
    left: 48%;
    width: 20px;
    height: 28px;
    background:url("../images/address-03.png") no-repeat center center;
    -webkit-background-size: 20px;
    background-size: 20px;
    z-index: 100;
}
#result1 {
    top:50%;
    max-height:50%;
}
.custom-location{
    height:44px;
    line-height:44px;
    padding:0px 15px;
    border-bottom:1px solid #E2E2E2;
}
.searchBox{
    z-index:101;
}
myList{
    border-bottom:1px solid #E2E2E2;
}
.delBtn{
    right:-55px;
    top:0px;
    width: 55px;
    height:65px;
    line-height:65px;
    background:#fa5b60;
}
.cantDeliver{
    background:#E2E2E2 url("../images/cantDeliver.png") no-repeat 90% center;
    -webkit-background-size: 50px;
    background-size: 50px;
}


.L-header img{
    width:25px;
}
.sD-star{
    top: 9px;
    right:50px;
}
.sD-share{
    top: 10px;
    right:15px;
    width:25px;
    height:25px;
    background:url("../images/header-share.png") no-repeat center center;
    -webkit-background-size: 25px;
    background-size: 25px;
}
.whyCantSlideDown{
    height:50px;
}
.share-box{
    position:fixed;
    bottom:0px;
    height: 70px;
    line-height: 70px;
    background:#FFF;
    border-top:1px solid #E2E2E2;
    z-index: 11;
}
.share-box li{
    width:25%;
    height: 70px;
    line-height: 70px;
}
#qzone-icon{
    padding: 0;
    margin: 0;
    height: 70px;
    width: 100%;
    background:url("../images/qq.png") no-repeat center center;
    -webkit-background-size: 40px;
    background-size: 40px;
}
#wb-icon{
    padding: 0;
    margin: 0;
    height: 70px;
    width: 100%;
    background:url("../images/wb.png") no-repeat center center;
    -webkit-background-size: 40px;
    background-size: 40px;
}
#wechat-icon{
    padding: 0;
    margin: 0;
    height: 70px;
    width: 100%;
    background:url("../images/wechat.png") no-repeat center center;
    -webkit-background-size: 40px;
    background-size: 40px;
}
#qq-icon{
    padding: 0;
    margin: 0;
    height: 70px;
    width: 100%;
    background:url("../images/tqq.png") no-repeat center center;
    -webkit-background-size: 40px;
    background-size: 40px;
}
#shade{
    position:fixed;
    top:0px;
    background:#000000;
    opacity: 0.8;
    z-index: 10;
}

.address-05{
    background:url("../images/address-05.png") no-repeat left center;
    -webkit-background-size: 10px;
    background-size: 10px;
}
.star{
    width:16px;
    height:16px;
}