.mainf-ds{
    padding-top: 30px;
    background: url("../images/bottom-icon.png") no-repeat center 10px;
    -webkit-background-size: 20px;
    background-size: 20px;
}
.mainf-dd{
    padding-top: 30px;
    background: url("../images/bottom-icon.png") no-repeat center 10px;
    -webkit-background-size: 20px;
    background-size: 20px;
}
.mainf-wd{
    padding-top: 30px;
    background: url("../images/bottom-icon.png") no-repeat center 10px;
    -webkit-background-size: 20px;
    background-size: 20px;
}