.findPassword-yzm{
    right:100px;
}
.findPassword-time{
    border-left:1px solid #E2E2E2;
    line-height: 44px;
    color: #cdcdcd;
}
.fillCheckcode-prompt{
    height:50px;
    line-height:60px;
}